// FONTS

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

$font-family-sans-serif: 'Raleway';

// COLORS

$body-bg: #f5f8fa;

$theme-colors: (
	// "success": #C4D02E,
	"warning": #FFD11F, // Sunglow
	"danger": #CF1F37, // Azalea
	"empty": #ffffff,
	"primary": #00A1AC, // Blue Munsell
	"alternate": #C3D023,
	"accent": #FFD11F, // Sunglow
	"teal": #00A1AC, // Blue Munsell
	"red": #CF1F37, // Azalea
	"yellow": #FFD11F, // Sunglow
	"green": #C4D02E, // Peak
	"blue": #6A67CC, // Slate Blue
	"orange": #FB8139 // Mango Tango
);

// FONT SIZE

$font-size-xl:                1.5rem !default;

// BORDER RADIUS

$border-radius-xl:            .6rem !default;

// INPUTS

$input-btn-padding-y-xl:      1rem !default;
$input-btn-padding-x-xl:      1.5rem !default;
$input-btn-line-height-xl:    1.5rem !default;

// BUTTONS

$btn-padding-y-xl:            $input-btn-padding-y-xl !default;
$btn-padding-x-xl:            $input-btn-padding-x-xl !default;
$btn-line-height-xl:          $input-btn-line-height-xl !default;

$btn-border-radius-xl:        $border-radius-xl !default;