// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Elements
@import "elements";

html,
body,
#app {
	height: 100%;
}

nav {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

	.navbar-brand {

		img {
			height: 60px;
		}
	}
}

footer {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

	ul {
		list-style: none;
	}
}