// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Gradients
@import "gradients";

// Elements
@import "elements";

html,
body,
#app {
	height: 100%;
}

.divider {
	height: 4px;

	&.divider-sm {
		height: 2px;
	}
}

.navbar-laravel {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

	.navbar-brand {

		img {
			height: 60px;
		}
	}

	input {
		border: 0px solid theme-color('accent');
		border-radius: 0px;
		opacity: 0;
		max-width: 20px;
		transition: .3s;

		&:focus {
			outline: 0px;
			border-bottom: 2px solid theme-color('accent');
			margin-bottom: -2px;
			max-width: 200px;
			opacity: 1;
		}
	}

	li {

		> a {
			&:hover {
				text-decoration: none;
			    border-bottom: 2px solid #ccc;
				margin-bottom: -2px;
			}

			&.active {
			    border-bottom: 2px solid theme-color('accent');
				margin-bottom: -2px;
			}
		}
	}

	.nav-avatar {
		width: 30px;	
	}

	.notifications {
		width: 300px;

		.dropdown-item {
			white-space: normal;
		}
	}
}

footer {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

	ul {
		list-style: none;
	}
}

.progress-meter {
	width: 70%;
	margin: auto;
	position: relative;
	
	.step-count {
		width: 40px;
		height: 40px;
	}

	.progress {
		position: absolute;
		left: 0;
		right: 0;
		top: 18px;
		height: 4px;
	}

	.steps {
		z-index: 1;
		position: relative;
	}
}

.photo {
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 140px;
	height: 140px;
	overflow: hidden;
	margin: 0 auto;

	img {
		width: 100%;
		height: 100%;
	}
}