// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Elements
@import "elements";

html,
body,
#app {
	height: 100%;
}

nav {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

	.navbar-brand {

		img {
			height: 60px;
		}
	}

	input {
		border: 0px solid theme-color('accent');
		border-radius: 0px;
		opacity: 0;
		max-width: 20px;
		transition: .3s;

		&:focus {
			outline: 0px;
			border-bottom: 2px solid theme-color('accent');
			margin-bottom: -2px;
			max-width: 200px;
			opacity: 1;
		}
	}

	li {

		> a {
			&:hover {
				text-decoration: none;
			    border-bottom: 2px solid #ccc;
				margin-bottom: -2px;
			}

			&.active {
			    border-bottom: 2px solid theme-color('accent');
				margin-bottom: -2px;
			}
		}
	}

	.nav-avatar {
		width: 30px;	
	}

	.notifications {
		width: 300px;
	}
}

footer {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

	ul {
		list-style: none;
	}
}